.contacts {
  padding-top: 60px;
  padding-bottom: 120px;

  @media screen and (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1199px) {
      gap: 15px;
    }
  }

  &__link {
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;

    max-width: 222px;
    padding: 30px 47px;
    @media screen and (max-width: 1199px) {
      padding: 20px 40px;
    }

    border: 0.5px solid getColor('gray6');

    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__img {
    min-width: 749px;
    min-height: 369px;
    background: url('../images/contacts/contacts.jpg') 80% 5% no-repeat;
    @media screen and (max-width: 1199px) {
      min-width: auto;
      flex-basis: 60%;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width: 1199px) {
    flex-basis: 40%;
  }
  @media screen and (max-width: 767px) {
    flex-basis: 100%;
  }

  &__descr {
    resize: none;
    margin-bottom: 12px;
  }

  &__label {
    position: relative;

    cursor: pointer;

    display: flex;
    align-items: center;
  }

  &__policy_text {
    padding-left: 40px;
    margin-bottom: 21px;

    font-size: 12px;
    letter-spacing: 0.48px;
    color: getColor('gray1');
  }

  &__policy_icon {
    position: absolute;
    top: 2px;
    left: 0;

    width: 24px;
    height: 24px;

    border: 1px solid getColor('input');
    border-radius: 6px;
    fill: transparent;
    background-color: transparent;
    transition: fill 250ms ease-out, background-color 250ms ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__checkbox:checked + &__policy_icon {
    fill: getColor('gray1');
    background-color: getColor('input');
    transition: fill 250ms ease-out, background-color 250ms ease-out;
  }
}

.input {
  font-family: inherit;
  background-color: getColor('input');
  padding: 14px 21px;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.56px;
  color: getColor('gray1');

  &::placeholder {
    color: getColor('placeholder');
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 1;
  }
}
