.projects {
  padding: 60px 0;

  @media screen and (max-width: 1199px) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 60px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__list {
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 1199px) {
      gap: 16px;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    min-height: 255px;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(1) {
      width: 570px;
      background: url('../images/projects/project1.jpg') 0 0 no-repeat;
      @media screen and (max-width: 1199px) {
        width: 361px;
      }
    }
    &:nth-child(2) {
      width: 570px;
      background: url('../images/projects/project2.jpg') 0 0 no-repeat;
      @media screen and (max-width: 1199px) {
        width: 361px;
      }
    }
    &:nth-child(3) {
      width: 270px;
      background: url('../images/projects/project3.jpg') 0 0 no-repeat;
    }
    &:nth-child(4) {
      width: 470px;
      background: url('../images/projects/project4.jpg') 0 0 no-repeat;
      @media screen and (max-width: 1199px) {
        width: 452px;
      }
    }
    &:nth-child(5) {
      width: 370px;
      background: url('../images/projects/project5.jpg') 0 0 no-repeat;
      @media screen and (max-width: 1199px) {
        display: none;
      }
    }

    transform: scale(1);
    transition: transform 250ms ease-out;
    &:hover,
    &:focus {
      transform: scale(1.02);
      transition: transform 250ms ease-out;
      .projects__link {
        transform: translateY(0);
        transition: transform 250ms ease-out;
      }
    }
    & .small {
      padding: 20px 20px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 48px 78px;
    @media screen and (max-width: 1199px) {
      padding: 20px 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    background-color: getColor('gray1');
    opacity: 0.8;

    color: #fff;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;

    &_title {
      font-size: 58px;
      font-weight: 700;
      line-height: 1;
      @media screen and (max-width: 1199px) {
        font-size: 42px;
      }
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

    transform: translateY(101%);
    transition: transform 250ms ease-out;
  }

  & .link_dark {
    margin-left: auto;
    max-width: 222px;
    padding: 24px 40px;

    border: 0.5px solid getColor('gray6');

    @media screen and (max-width: 1199px) {
      padding: 20px 40px;
    }
  }
}
