* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  // так як шрифт TT Hover платний, використовую Montserrat
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    max-width: 768px;
  }

  @media screen and (max-width: 767px) {
    max-width: 375px;
  }

  @media screen and (max-width: 374px) {
    max-width: 100%;
  }
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::selection {
  background-color: getColor('gray1');
  color: #fff;
}
